
/*Media queries para diseño responsivo*/
@media (max-width: 768px) {
    #header, #footer {
        width: 100vw; 
    }

    .card {
        width: 100%; 
        max-width: 350px; 
        margin: 10px; 
    }

    
    .row {
        flex-direction: column; 
        align-items: start; 
    }

    body {
        width: 100%;
    }
}



* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#header, #footer {
    background-color: #4D3147;
    color: #FFFBFF;
    width: 100vw; 
    margin: 0 !important; 
}

a {
    color: #FFFBFF !important;
}

body {
    background-color: #FFFBFF !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.fecha {
    color: #FFFBFF !important;
}

.card-img-top {
    max-width: 287px !important;
    max-height: 287px !important;
    border-radius: 50% !important;
    object-fit: cover !important;
}

.card {
    height: 600px !important;
    width: 350px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    text-align: center; 
    padding: 20px; 
    margin: 20px;
}

.card-body {
    padding: 0 !important;
}

.title-aboutUs {
    margin-top: 50px;
    font-weight: 700;
}

.text-aboutUs {
    text-align: justify;
    margin-top: 50px;
    font-weight: 400;
}

.img-container {
    position: relative;
    width: 100%; /* Ensure it fills the card width */
    max-width: 287px; /* Match the max width of the image */
    height: 287px; /* Fixed height for consistency */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    overflow: hidden; /* Hide overflow to keep the layout clean */
    left: 12px;
}

.img-original, .img-hover {
    position: absolute; /* Position absolute for overlap */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    width: 100%; /* Make images responsive to the container */
    height: 100%; /* Fill the height of the container */
    border-radius: 50%; /* Ensure images are circular */
    transition: opacity 0.3s ease; /* Smooth transition */
}

.img-original {
    opacity: 1; /* Show original by default */
}

.img-hover {
    opacity: 0; /* Initially hidden */
}

.img-container:hover .img-original {
    opacity: 0; /* Hide original on hover */
}

.img-container:hover .img-hover {
    opacity: 1; /* Show hover image on hover */
}