*{
    font-family: "Inter", sans-serif ;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#header{
    background-color: #4D3147;
    color: #FFFBFF;
}

#footer{
    background-color: #4D3147;
    color: #FFFBFF;

}

a {
    color: #FFFBFF !important;
}

body {
    background-color: #FFFBFF !important;
}
.fecha{
    color: #FFFBFF !important;
}