/* Media queries para diseño responsivo */
@media (max-width: 768px) {
    #header {
        width: 100vw; 
        padding: 10px; /* Ajustamos el padding */
    }

    .nav {
        flex-direction: column; /* Colocamos los elementos de la navegación en columna */
        align-items: center; /* Centramos los elementos */
    }

    .nav-link {
        padding: 10px 0; /* Espaciado entre los enlaces */
    }

    .form-control {
        width: 100%; /* Hacemos que el input de búsqueda use el 100% */
        margin-bottom: 10px; /* Espacio inferior */
    }

    .btn {
        width: 100%; /* Botones ocupan el ancho completo */
        margin-bottom: 10px; /* Espacio entre botones */
    }

    .text-end {
        text-align: center; /* Centra los botones en dispositivos móviles */
    }
}

/* Estilos generales */
#header {
    background-color: #4D3147;
    color: #FFFBFF;
    width: 100vw; 
    margin: 0 !important; 
}

.nav-link {
    color: #FFFBFF !important;
}


body {
    background-color: #FFFBFF !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100%;
}
