@media (max-width: 768px) {
    #header, #footer {
        width: 100vw;
        padding : 5vw !important;
    }

    #footer {
        gap: 2rem !important;
    }

    .body {
        width: 100%;
        padding: 0 !important;
    }
    .card {
        width: 90%; /* Adjusted width to fit within container */
        max-width: 22rem;
        height: auto; /* Removed fixed height */
    }
    
    .card-body {
        padding: 1rem;
    }

    .row {
        flex-direction: column;
        align-items: center;
        gap: 2rem; /* Reduced gap to prevent overflow */
        margin-left: 0 !important;
    }

    .nav {
        flex-direction: column;
        align-items: center;
    }
    .head-container {
        width: 100% !important;
    }

    .nav-component1, .nav-component2 {
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 1rem;
    }

    .nav-item-top {
        max-width: 30% !important;
    }
    
     .acc-btn, .nav-component2::before{
        display: none !important;
    }

    .form-control, .btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .text-end {
        text-align: center;
    }

    .card-img-top {
        width: 100%;
        height: auto;
        border-radius: 5px;
        object-fit: cover; 
    }
    .elements
    {
        width: 80% !important;
    }

    .col {
        padding: 0 !important;
        margin-top: 1vh !important;
    }

    .row {
        width: 100vw;
        gap: 2rem !important; /* Reduced gap to prevent overflow */
    }

    .contact_form {
        width: 100% !important;
    }

    .contact_form * {
        width: 99% !important;
    }

    .container {
        
        margin: 0 !important;
        padding: 1rem !important;
    }

    .row-cols-1 {	
        max-width: 100% !important;

    }

.search-bar-container {
    margin-right: 10vw !important;
}

    .cart-text {
        visibility: hidden;
    }

    .cart-btn {
        margin-right: 0vw !important;
        width: 10% !important;
    }

    .nav-underline {
        flex-direction: column;
        gap: 0 !important;
    
    }
    
        .nav-underline *:not(.mobile):not(.mobile *) {
            display: none;
          }

          .nav-underline {
            padding: 1vw !important;
          }


    }



@media (max-width: 1400px) {
    .container {
        max-width: 95vw !important;
    }
    .nav {
        max-width: 95vw;
    }

}

a {
    target: blank;
    color: #FFFBFF !important;
    font-weight: 400;
    font-size: 1rem;
}

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#header, #footer {
    background-color: #4D3147;
    color: #FFFBFF;
    width: 100%;
    margin: 0 !important;
}


#header {
    height: 20%;
}

#logo {
    height: 12vh;
}

.container {
    width: 95vw;
    margin: 0 auto;
    padding: 1rem;
}

.elements {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.head-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-align: center; 
    padding: 0; 
    margin: 0 5vw;
    padding-top: 1vh;
    width: 100%;
    max-width: 90vw;
    height: 100%;
}


body {
    background-color: #FFFBFF !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    width: 100%;
    padding: 0;
}

.fecha {
    color: #FFFBFF !important; 
}

.card-img-top {
    max-width: 18rem !important;
    max-height: 18rem !important;
    border-radius: 50% !important;
    object-fit: cover !important;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    height: auto; 
    width: 95% !important;
    min-height: 640px;
}

.card-body {
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-aboutUs {
    margin-top: 3vh;
    font-weight: 700;
    font-size: 1.5rem;
}

.text-aboutUs {
    text-align: justify;
    margin-top: 3vh;
    font-weight: 400;
    font-size: 1rem;
}

.img-container {
    position: relative;
    width: 100%; 
    max-width: 18rem; 
    height: 18rem; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow: hidden; 

}

.img-original, .img-hover {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    border-radius: 50%; 
    transition: opacity 0.3s ease; 
}

.img-original {
    opacity: 1; 
}

.img-hover {
    opacity: 0; 
}

.img-container:hover .img-original {
    opacity: 0; 
}

.img-container:hover .img-hover {
    opacity: 1; 
}

.nav-component1 {
    height: 60%;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.nav-component2 {
    height: 40%;
    width: 100%;
    padding-left: 20vh;
}


.carrito {
    margin-right: 3vw;
    height: 3vh;
} 

.searchbar {
    width: 45vw;
    padding: 1.5vh 2vw;
    border-radius: 2rem;
}

input.search-bar {
    width: 100%;
    padding: 1vh;
    padding-right: 3vw; 
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: #866A80 !important;
    color: #222222 !important;
}

input {
    background-color: #C9B7C7 !important;
    color: #222222 !important;
    border: none !important;
}

.search-bar-container {
    display: flex;
    align-items: center;
    width: 45vw;
    background-color: #C9B7C7;
    border-radius: 2.5rem;
    padding: 1vh;
    position: relative;
    margin-right: 25vw;
}

.search-bar input[type="search"] {
    flex-grow: 1;
    padding: 1vh 1.25vw 1vh 3vw; 
    border: none;
    outline: none;
    font-size: 1rem;
    color: #222222;
    background-color: transparent;
}

.search-btn, .burger-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5vw;
}

.burger-btn {
    margin-left: 0.5vw;
    color: #222222; 
}

.search-btn {
    margin-right: 0.5vw;
    color: #222222; 
}

.cart-btn {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    color: #FFFBFF;
    position: absolute;
    gap: 0.5rem;
    margin-left: 1vw ;
    margin-right: 8vw;

}

.acc-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #FFFBFF !important;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5vw;
    margin-right: 0vw;
    margin-top: 1.5vw;
    margin-bottom: 1vw !important;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    background-color: #4D3147;
}

.nav-underline {
    width: 100%;
    justify-content: space-evenly;
    height: 8vh !important;
}

.nav-item-top, .nav-component1, .nav-component2 {
    padding: 0.2em 0.5em  !important;

    border: none;
    border-radius: 0.5rem !important;
    cursor: pointer;
    max-height: 2.5rem;
}
.contact_form{	
	width: 30rem; 
    height: auto;
    margin: 80px auto;
	border-radius: 10px;  
	padding-top: 30px;
	padding-bottom: 20px;  
    background-color: #866A80; 
    padding-left: 30px;
    color: #0D0210;
}

.formulario-inputs input{
	background-color: #fffbff; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #0D0210; 
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 20px;
    
}
 .iconos-redes{
	margin:50px;
 }

.error{
	color: #ffc107;
}

textarea{
    background-color: #fffbff; 
	width: 405px; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #0D0210; 
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
}

#mensaje{
	resize: none;
}

.formulario-inputs label{
    display: block; 
	float: center; 	
}

  .nav-item.dropdown:hover .dropdown-menu {
    display: block !important;
    margin-top: 0; /* Optional: removes a gap between the dropdown and the parent link */
  }

  .dropdown-menu {
    background-color: #866A80 !important; /* Change this to your desired background color */
    border: none; /* Remove border if desired */
  }

  .dropdown-item:hover {
    background-color: #4D3147 !important; /* Change this to your desired hover color */
}

form.dropdown-menu {
    width: 25vw ;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #4D3147 !important;
    border-color: #4D3147 !important;
    color: rgb(255, 251, 255) !important;
}

/* Bootstrap variables */
:root {
    --bs-link-color: rgb(255, 251, 255) !important; /* Color de enlaces */
    --bs-link-hover-color: #000000 !important; /* Color de enlaces resaltados */
    
}

/* CARRITO*/
@media (max-width: 768px) {
    .cart-btn span:last-child { 
        display: none; /* Ocultar la palabra 'Carrito' en m칩viles */
    }

    /* .cart-btn {
        width: 100%; /* Hacer que el bot칩n sea responsivo 
        max-width: 500px; Opcional: limitar el ancho m치ximo 
    } */

    .cart-btn span:first-child {
        font-size: 2rem; /* Aumentar el tama침o del icono si es necesario */
    }
.banners{
    margin: 20px;
}

.iconsFooter{
    filter: invert(90%);

}
}
