input[type=text], select, textarea, .form-group{
	width: 100%;
	padding: 12px;
	border: 1px;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
  }

  /* Para PC y Mac */
  #flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
  /* Responsivo para mobiles, tendría que hacer dos filas en vez de dos columnas */
  }

  @media (max-width: 800px) {
    #flex-container {
        flex-direction: column;
    }
  }


  .contact_form h2{
	font-size: 2rem;  
	text-align: letf; 
	padding-bottom: 20px; 
	color: #fffbff;
}

.btn-newUser{
	height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	background-color: #4D3147; 
	border-color: #4D3147; 
	border-style: solid; 
	border-radius: 10px;	
	width: 420px;   
    cursor: pointer;
}

button p{
	color: #FFFBFF;
    margin: 10px;
}